DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=


# Auth.js secret for signing and encrypting tokens
AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev


# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=
